// Careers view
.careers-section {

    .careers-img-container {

        position: relative;
        width: 100%;

        img{
            width: 100%;
        }

        .career-img-overlay {
            align-items: center;
            background: $dark-overlay;
            color: $white-color;
            display: flex;
            font-size: 25px;
            height: 100%;
            justify-content: center;
            position: absolute;
            right: 0;
            text-align: center;
            top: 0;
            width: 100%;
        }        
    }

    .company-values {

        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-row-gap: 3rem; 

        .values-container {
            span {
                font-size: 4rem;
            }          
            
            h3 {
                font-size: 1.75rem;
                padding: 25px 0;
            }

            p {
                font-size: 1.5rem;
                padding: 0 25px;
            }
        }            
    }
}