// contact section
.contact-section {

    h2 {
        font-size: 1.75rem;
    }

    input:focus, select {
        outline: none !important;
        margin: 0;
        padding: 0;
    }

    .contact-img {
        background-image: url(/img/hero-image.JPG);
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: auto;

        .contact-overlay {
            background-image: $orange-gradient-transparent;
            font-size: 1.5rem;
            height: 120vh;
            line-height: 42px;         
            
            @include for-desktop-up {

                height: 100vh;

                h1 {
                    font-size: 48px;
                    margin-left: 3rem;                    
                    text-align: left;
                }

                display: grid;
                grid-template-columns: 1fr 1fr;
                grid-template-rows: auto;
            }
        }

        .container {           
            height: fit-content; 
            margin-left: auto;
            margin-right: auto;        
            width: 90%;            

            .form-container {

                form {                    
                    width: 85%;

                    @include for-desktop-up {

                        .form-grid-container {
                            display: grid;
                            column-gap: 30px;
                            grid-template-columns: 1fr 1fr;
                        }
                    }
                }

                input, select, textarea {
                    background-color: $gray-input-color;
                    border: none;
                    color: $white-color;                                
                    margin: 0 0 .55rem 0; 
                    padding: .75rem 0;
                    width: 100%;
                }
                
                label {
                    font-size: 1.25rem;
                }

                .form-button-container {
                    margin-top: 1rem;
                    padding-bottom: 2.5rem;
                    text-align: center;

                    button {
                        width: 30%;
                    }
                }
            }
        }

        @include for-desktop-up {

            .form-position {
              
            }
        }        

        .contact-info-container {
            display: flex;
            font-size: 1.2rem;
            justify-content: flex-start;

            img {
                width: 2.5rem;                
                margin: 0 .25rem 0 1.25rem;
            }
        }

        @include for-desktop-up {
        
            .extra-info-position {

                .contact-info-container {

                    img {
                        margin-left: 1rem;
                        margin-right: 1.15rem;
                        width: 13%;
                    }

                    h5 {
                        font-size: .95rem;
                    }
                }

                .extra-info-column {
                    display: grid;
                    grid-template-columns: repeat(2, 1fr);
                }
            }
        }
    }    
}