// Colors
$black-color: #333;
$white-color: #fff;
$orange-gradient-color: linear-gradient(to bottom right, #FF781F , #FAD6A6);
$orange-gradient-transparent: linear-gradient(to bottom right,   rgba(255, 120, 31, 0.85), rgba(250, 214, 166, 0.85));
$orange-text: #FF781F;
$orange-color: #FF781F;
$pale-color: #E5E5E5;
$dark-overlay: rgba(0, 0, 0, 0.6);
$gray-text: #606060;
$gray-input-color: #6F6D6D;
$transparent: rgba(255, 255, 255, 0);
// Event classes
.scrolled {
    background-color: #F5F5F5;
    box-shadow: 0 1px 6px rgba(32, 33, 36, 0.28)
}

.scrolled-anchor {
    color: $black-color;
}