footer {    

    .dirt-background {
        background-image: url(/img/dirt.png);
        background-size: cover;
        background-repeat: no-repeat;
        height: 15rem;
        width: 100%;

        @include for-desktop-up {
            width: 100%;
        }
    }

    .footer-elements {
        background-color: $black-color;
        color: $white-color;

        p {
            padding: 3rem 1.5rem;
        }

        .site-map {

            a {
                color: $white-color;
                display: block;
                padding: .8rem 0;
                text-decoration: none;
            }
        }

        .social {

            display: flex;
            justify-content: center;
            padding-top: 1.2rem;

            img {
                padding: 0 2rem;
                width: 2.5rem;
            }
        }
    }
}