h4 {
    font-size: 1.5rem;
}

.gallery-section {

    margin: 0 auto;
    width: 100%;

    @include for-tablet-landscape-up {
        width: 100%;
    }    

    .gallery-grid, .reverse-galley-grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;

        @include for-tablet-landscape-up {
            
            align-items: center;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
        }

        .gallery-text {

            @include for-tablet-landscape-up {                                
                
            }                        
        }

        .text-box {

            @include for-tablet-landscape-up {
                align-items: center;
                display: grid;
                grid-template-columns: auto;
                text-align: center;
            }

            h2 {
                font-size: 2rem;
        
                @include for-desktop-up {
                    font-size: 2.5rem;
                }
            }
            
            p {
                margin: 0 auto;
                width: 50%;

                @include for-desktop-up {    
                    width: 70%;
                }
            }  
        }
    }
}