h4 {
    font-size: 1.5rem;
}

.gallery-section {

    margin: 0 auto;
    width: 100%;

    @include for-tablet-landscape-up {
        width: 100%;
    }    

    .gallery-grid, .reverse-galley-grid {
        display: grid;
        grid-template-columns: auto;
        grid-template-rows: 1fr 1fr;

        @include for-tablet-landscape-up {
            
            align-items: center;
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;
        }

        .gallery-text {

            @include for-tablet-landscape-up {                                
                
            }                        
        }

        .text-box {

            color: $white-color;
            height: 100%;

            @include for-tablet-landscape-up {
                align-items: center;
                display: flex;                
                text-align: left;
            }

            h2 {
                font-size: 2rem;
                padding: 2rem;
        
                @include for-desktop-up {
                    
                }
            }

            .goal-container {
                margin: 0 auto;
                width: 85%;

                p {
                    margin: 0 auto;
    
                    @include for-desktop-up {    
                        width: 70%;
                    }
                }  
    
                svg {
                    font-size: 2rem;
                    padding-right: 1rem;
                }
            }    
            
            .goal-container:nth-child(3) {
                padding-bottom: 2rem;

                @include for-tablet-landscape-up {
                    padding-bottom: 0rem;
                }
            }  
        }
    }
}