// Mobile menu
header {
            
    nav {
        background-color: $transparent;
        border: none;
        transition: all .75s ease-in-out;
        padding: 10px;
        position: fixed;
        z-index: 100;

        a {
            color: $black-color;
            text-decoration: none;

            .logo {
                width: 25%;
            }

            .burger-menu {
                width: 1.75rem;
            }
        }
    }

    

    @include for-phone-only {
        .hide-mobile {
            display: none;
        }
    }

    @include for-tablet-portrait-up {
        .hide-mobile {
            display: none;
        }
    }

    @include for-tablet-landscape-up { 
        
        // header
        
        text-align: center;        
        width: 100%;        
        
        .hide-desktop {
            display: none;            
        }

        .hide-mobile {
            display: grid;
        }

        nav {
            
            .logo-background {
                background-color: white;
                border-radius: 5px;
                height: 5rem;
                left: 40.9%;
                position: absolute;
                top: 0;
                width: 15%;
            }

            a {                
                color: $white-color;
                font-size: 1.25rem;
                font-weight: 900;

                &:hover {
                    color: $orange-text;
                }
            }

            .logo-desktop {
                
                z-index: 2;

                img {                                        
                    width: 55%;                    
                }
            }
        }
    }
}