// Mobile menu
header {
            
    nav {
        background-color: $white-color;
        border: 1px solid $black-color;
        padding: 10px;

        a {
            color: $black-color;
            text-decoration: none;
            text-transform: uppercase;

            .logo {
                width: 35%;
            }
        }
    }

    @include for-phone-only {
        .hide-mobile {
            display: none;
        }
    }

    @include for-desktop-up { 
        
        // header
        position: absolute;
        text-align: center;
        width: 100%;
        
        .hide-desktop {
            display: none;            
        }

        nav {
            background-color: $transparent;
            border: none;
            
            .logo-background {
                background-color: white;
                border-radius: 5px;
                height: 5rem;
                left: 40.9%;
                position: absolute;
                top: 0;
                width: 15%;
            }

            a {
                align-items: center;
                color: $white-color;
                font-size: 1.5rem;
                font-weight: 900;

                &:hover {
                    color: $orange-text;
                }
            }

            .logo-desktop {
                
                z-index: 2;

                img {
                    background-color: #fff;
                    border-radius: 20px;
                    padding: 5% 3%;                    
                    width: 10rem;                    
                }
            }
        }
    }
}