// Hero section
.hero-section {

    height: auto;

    .hero-overlay {

        @include for-desktop-up {
            height: auto;
        }

        background-color: $dark-overlay;
        font-size: 25px;
        height: 100vh;
        line-height: 42px;            
        text-align: center;         

        video {

            height: 100%;
            object-fit: cover;
            position: absolute;
            right: 0;
            top: 0;            
            z-index: -100;

            @include for-desktop-up {
                display: block;
                position: relative;                
            }            
        }

        @include for-desktop-up {
    
            .title-container {               
                max-width: 580px;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                padding: 6% 0;
                transform: translate(-50%, -50%);
                position: absolute;
                left: 50%;
                top: 45%;
            }
        }
    
        h1 {
            padding: 20% 1%;

            @include for-desktop-up { 
                line-height: 1.5;
                padding: 20% 5% 7% 5%;
            }
        }                                       
    }
}    
