.partners-section { 

    margin: 0 auto;
    width: 100%;

    @include for-tablet-landscape-up {
        
        width: 90%;
    }

    .partners-img {      

        .partners-overlay {
            background-image: $orange-gradient-transparent;
            font-size: 1.5rem;
            line-height: 42px;  
            
            @include for-tablet-landscape-up {
                
                height: auto;

                h1 {
                    font-size: 48px;
                    margin-left: 3rem;                    
                    text-align: left;
                }
            }            
        }

        .container {         
            height: 300px;   
            margin-left: auto;
            margin-right: auto;
            width: 90%;            

            .map-img {
                width: 90%;
            }
            
            .state-name {
                font-size: 1.5rem;

                @include for-tablet-landscape-up {
                    font-size: 1.75rem;
                    width: 100%;
                }
            }
        }


        .map-container {

            height: auto;

            @include for-tablet-landscape-up {                

                align-items: center;
                display: grid;
                grid-template-columns: repeat(2, 1fr);
                width: 80%;
    
                img {
                    position: relative;
                    left: 3rem;
                    top: -2rem;
                }

                .state-info {
                    margin-bottom: 4rem;
                    margin-left: -5rem;

                    @include for-tablet-landscape-up {
                        margin: auto auto;
                    }
                }
            }
        }

        

        .partners-box {
            position: relative;
            top: -2.5rem;

            @include for-tablet-landscape-up {
                width: 70%;
            }
        }
    }
}