section {
    .service-container {        

        background-color: $white-color;
        border-radius: 20px;
        bottom: 5rem;
        box-shadow: 0px 4px 3px 1px rgba(0, 0, 0, 0.25);
        color: $gray-text;
        margin: 0 auto;
        position: relative;
        width: 90%; 

        @include for-tablet-landscape-up {
            bottom: 3rem;
            width: 85%;

            .col-3 {
                display: grid;
                grid-template-columns: repeat(3, 1fr);
                grid-template-rows: auto;
            }
        }

        h2 {
            font-size: 2.5rem;        
            padding-top: 3rem;
        }

        .service-item {

            @include for-tablet-landscape-up {

                .service-description {
                    margin: 0 auto;
                    text-align: center;                    
                }
            }       

            img {                
                padding-bottom: 5%;
                padding-top: 13%;
                width: 25%;       
                
                @include for-tablet-landscape-up {
                    width: 22.5%;
                }
            }

            h4 {
                font-size: 1.5rem;
                text-align: center;
            }

            p {
                padding: 5% 8%;
                font-size: 1.25rem;
                text-align: center;
            }
        }
    }
}