.slider-city-wrapper {
  font-size: 40px;
  color:#aaa;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: center;
}
.slider-city{
  font-size: 40px;
  height: 50px;
  overflow: hidden;
}
.slider-city div {
  color:#fff;
  height: 50px;
  margin-bottom: 50px;
  width: 100%;

  text-align: center;
  box-sizing: border-box;
}
.slider-city-text1 {
  animation: slide 10s infinite;
}

@keyframes slide {
  /*
  0% {margin-top:-300px;}
  33% {margin-top:-200px;}
  66% {margin-top:-100px;}
  100% {margin-top:0px;}
  */
  0% {margin-top:-800px;}
  10% {margin-top:-700px;}
  20% {margin-top:-700px;}
  25% {margin-top:-600px;}
  30% {margin-top:-600px;}
  35% {margin-top:-500px;}
  40% {margin-top:-500px;}
  45% {margin-top:-400px;}
  50% {margin-top:-400px;}
  55% {margin-top:-300px;}
  60% {margin-top:-300px;}
  65% {margin-top:-200px;}
  70% {margin-top:-200px;}
  75% {margin-top:-100px;}
  80% {margin-top:-100px;}
  90% {margin-top:0px;}
  100% {margin-top:0px;}
  
  
}